{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

	<div class="example-wrapper">
		<div class='testimonials_lists'>
			{% for testimonial in testimonials %}
				<div class='test test-{{testimonial.id}}'>
					<img src='{{testimonial.photo}}' alt='Photo de {{testimonial.user.username}}'>
					<div class='stars_list'>
						{% for stars in range(1, testimonial.stars) %}
							<i class="fa fa-star" aria-hidden="true"></i>
						{% endfor %}
					</div>
					<div class='desc'>
						<p>{{testimonial.description}}</p>
					</div>
					<div class='author'>
						<p>{{testimonial.user.username}}</p>
					</div>
				</div>
			{% endfor %}
		</div>

	</div>
{% endblock %}
