{% extends 'base.html.twig' %}

{% block title %}Hello CreateTestimonialController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		{{ form_start(formRender) }}
		{{ form_row(formRender.photo)}}
		{{ form_row(formRender.stars, {
            label: 'Stars'
        }) }}
		{{ form_row(formRender.description)}}
		<button type="submit" class="btn">Ajouter</button>
		{{ form_end(formRender) }}


	</div>
{% endblock %}
