.example-wrapper {
    margin: 1em auto;
    max-width: 800px;
    width: 95%;
    font: 18px / 1.5 sans-serif;
}
.example-wrapper code {
    background: #F5F5F5;
    padding: 2px 6px;
}
.test {
    border: 2px solid black;
    border-radius: 9%;
    margin-top: 10%;
}
img {
    width: 250px;
    height: 250px;
    background-size: cover;
    display: inline-block;
    border-radius: 125px;
    -webkit-border-radius: 125px;
    -moz-border-radius: 125px;
    margin-left: 33%;
}
.testimonials_lists {
    margin-top: 25%;
}
.stars_list {
    margin-top: 13%;
}
p {
    font-size: 60px;
    margin-left: 29%;
}
i.fa.fa-star {
    font-size: 56px;
    margin-left: 11%;
}

@media screen and (max-width: 800px) {
    .testimonials_lists {
        display: flex;
        flex-direction: column;
        gap: 8px 27px;
        margin-top: 25%;
    }
}