<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="stylesheet" href='../stylesheets/style.css'>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
		<script src="https://use.fontawesome.com/62cd4a10cd.js"></script>
	</head>
	<body>
		<style>
			*,
			*:before,
			*:after {
				box-sizing: border-box;
			}

			html {
				font-size: 18px;
			}

			body {
				color: black;
				font-size: 1.2em;
				line-height: 1.6;
				overflow-x: hidden;
			}

			label .menu {
				position: absolute;
				right: -100px;
				top: -100px;
				z-index: 100;
				width: 200px;
				height: 200px;
				background: #FFF;
				border-radius: 50% 50% 50% 50%;
				-webkit-transition: 0.5s ease-in-out;
				transition: 0.5s ease-in-out;
				box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
				cursor: pointer;

			}

			label .hamburger {
				position: absolute;
				top: 135px;
				left: 50px;
				width: 30px;
				height: 2px;
				background: #69D2e7;
				display: block;
				-webkit-transform-origin: center;
				transform-origin: center;
				-webkit-transition: 0.5s ease-in-out;
				transition: 0.5s ease-in-out;
			}

			label .hamburger:after,
			label .hamburger:before {
				-webkit-transition: 0.5s ease-in-out;
				transition: 0.5s ease-in-out;
				content: "";
				position: absolute;
				display: block;
				width: 100%;
				height: 100%;
				background: #69d2e7;
			}

			label .hamburger:before {
				top: -10px;
			}

			label .hamburger:after {
				bottom: -10px;
			}

			label input {
				display: none;
			}

			label input:checked + .menu {
				box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
				border-radius: 0;

			}

			label input:checked + .menu .hamburger {
				-webkit-transform: rotate(45deg);
				transform: rotate(45deg);

			}

			label input:checked + .menu .hamburger:after {
				-webkit-transform: rotate(90deg);
				transform: rotate(90deg);
				bottom: 0;

			}

			label input:checked + .menu .hamburger:before {
				-webkit-transform: rotate(90deg);
				transform: rotate(90deg);
				top: 0;

			}

			label input:checked + .menu + ul {
				opacity: 1;
			}

			label ul {
				z-index: 200;
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				opacity: 0;
				-webkit-transition: 0.25s 0s ease-in-out;
				transition: 0.25s 0s ease-in-out;
			}

			label a {
				margin-bottom: 1em;
				display: block;
				color: #f38630;
				text-decoration: none;

			}

			h1 {
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				width: 80%;
				text-align: center;
			}
		</style>
		<script></script>
		<header class="header">
			<label>
				<input type="checkbox">
				<span class="menu">
					<span class="hamburger"></span>
				</span>
				<ul>
					{% if app.user != null %}
						<li>
							<a href="{{path('app_home')}}">Home</a>
						</li>
						<li>
							<a href="{{path('app_create_testimonial')}}">Ajout de testimonial</a>
						</li>
						<li>
							<a href="{{path('app_logout')}}">Déconnexion</a>
						</li>
						{% else %}
						<li>
							<a href="{{path('app_login')}}">Login</a>
						</li>
						<li>
							<a href="{{path('app_register')}}">S'enregistrer</a>
						</li>
					{% endif %}
				</ul>
			</label>
		</header>
	</body>
</html></body></html>{% block body %}{% endblock %}</body></html>
